{% extends "layout.html" %}

<!--MAKE SURE YOU USE '' FOR hx-vals!!!!!-->

{% block body %}
    <div>
        <div id="gpt-response" class="w-full bg-gray-100 flex flex-col">
            <span class="htmx-indicator loading loading-infinity loading-lg"></span> 
            {% block gpt_response %}
                {% if type == "analysis" %}
                    <div>
                        <h1 class="text-lg font-bold">History Analysis</h1>
                        <p>{{ paragraph }}</p>
                    </div>
                {% elif type == "meal" %}
                    <div class="border-solid border-2 p-3">   
                        <h1 class="text-lg font-bold">Meal Plan Recommendation</h1>
                        <p>{{ paragraph }}</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Food Name</th>
                                    <th>Amount</th>
                                    <th>Unit</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody x-data="{ foodDictList : {{ food_dict_list }} }">
                                {% for food_dict in food_dict_list %}
                                    <tr>
                                        <td>{{ food_dict.food_name }}</td>
                                        <td>{{ food_dict.amount }}</td>
                                        <td>{{ food_dict.unit }}</td>
                                        <td>{{ food_dict.calories }}</td>
                                        <td>
                                            <button @click="foodDictList.splice()" hx-delete="{% url 'empty' %}" hx-target="closest tr" hx-swap="delete" class="btn btn-outline btn-danger">Remove</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <span>
                            <p>Import meal plan?</p>
                            <div hx-post="{% url 'askai' %}" hx-vals="{{ vals }}" hx-swap="outerHTML" hx-target="closest span" hx-indicator=".htmx-indicator" class="btn btn-outline btn-success">YES</div>
                            <div hx-get="empty" hx-swap="delete" hx-indicator=".htmx-indicator" hx-target="closest span" class="btn btn-outline btn-danger">NO</div>
                        </span>
                    </div>
                {% elif type == "exercise" %}
                    <div>
                        <h1 class="text-lg font-bold">Exercise Routine Recommendation</h1>
                        {{ paragraph }}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
        <div id="prompts">
            <button  hx-get="{% url 'askai' %}" hx-target="#gpt-response" hx-swap="beforeend" hx-vals='{"prompt": "Analyze my history"}' hx-indicator=".htmx-indicator" class="btn btn-outline">Analyze my history</button>
            <button hx-get="{% url 'askai' %}" hx-target="#gpt-response" hx-swap="beforeend" hx-vals='{"prompt": "Recommend me a meal plan"}' hx-indicator=".htmx-indicator" class="btn btn-outline">Recommend me a meal plan</button>
            <button hx-get="{% url 'askai' %}" hx-target="#gpt-response" hx-swap="beforeend" hx-vals='{"prompt": "Recommend me an exercise routine"}' hx-indicator=".htmx-indicator" class="btn btn-outline">Recommend me an exercise routine</button>
        </div>
    </div>
{% endblock %}