{% extends "layout.html" %}

{% block body %}
    <div id="log">
        <div>
            <!--Contains buttons for adding entries-->
            <button class="btn btn-outline">Add Food</button>
            <button class="btn btn-outline">Add Exercise</button>
        </div>
        <div>
            <!--Food and exercise entries are shown here-->
            {% for food in daily_entry.food_intake %}
                <div>{{ food.name }}</div>
            {% endfor %}
            {% for exercise in daily_entry.exercises %}
                <div>{{ exercise.name }}</div>
            {% endfor %}
        </div>
    </div>
    <div id="date">

    </div>
    <div id="summary">
        <!--Summarize Energy and Macronutrients-->
    </div>
    <div id="nutrients">
        <!--Summarize each nutrients-->
        <div id="general">

        </div>
        <div id="carbohydrates">

        </div>
        <div id="lipids">

        </div>
        <div id="general">

        </div>
        <div id="general">

        </div>
        <div id="vitamins">

        </div>
        <div id="minerals">

        </div>
    </div>
{% endblock %}