{% extends "layout.html" %}

{% block body %}
    <div x-data="{ open : false }">
        <div id="food_modal" class="modal flex flex-col" x-show="open" >
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 hover:bg-red-500" @click="open = false">✕</button>              
            <h1 class="text-lg font-bold">Add Food to Diary</h1>
            <input type="text" name="search" placeholder="Search food here" class="input input-bordered w-full max-w-xs" 
                hx-get="{% url 'food' %}" 
                hx-trigger="keyup changed delay:500ms, search" 
                hx-target="#search-results" 
                hx-indicator=".htmx-indicator"/>

            <table class="table">
                <thead>
                <tr>
                  <th>Description</th>
                  <th>Source</th>
                </tr>
                </thead>
                <tbody id="search-results">
                </tbody>
            </table>
          </div>
        <div id="log">
            <div>
                <!--Contains buttons for adding entries-->
                <button class="btn btn-outline" hx-get="{% url 'food' %}" hx-target="#food-modal" hx-swap="beforeend" @click="open = true" >Add Food</button>
                <button class="btn btn-outline">Add Exercise</button>
            </div>
            <div>
                <!--Food and exercise entries are shown here-->
                {% for food in daily_entry.food_intake %}
                    <div class="flex flex-row">
                        <p>{{ food.name }}</p>
                        <p>{{ food.weight }}</p>
                        <p>{{ food.energy }}</p>
                    </div>
                {% endfor %}
                {% for exercise in daily_entry.exercises %}
                    <div>{{ exercise.name }}</div>
                {% endfor %}
            </div>
        </div>
        <div id="date">
        
        </div>
        <div id="summary">
            <!--Summarize Energy and Macronutrients-->
            <div>
                <h2 class="text-xl font-bold">Energy Summary</h2>
            </div>
            <div>
                <h2 class="text-xl font-bold">Macronutrients Target</h2>
            </div>
        </div>
        <div id="nutrients">
            <!--Summarize each nutrients-->
            <div id="general">
        
            </div>
            <div id="carbohydrates">
        
            </div>
            <div id="lipids">
        
            </div>
            <div id="general">
        
            </div>
            <div id="general">
        
            </div>
            <div id="vitamins">
        
            </div>
            <div id="minerals">
        
            </div>
        </div>
    </div>
{% endblock %}