{% extends "layout.html" %}

{% block body %}
<div class="flex flex-col">
    <div id="user-info">
        <h1 class="text-lg font-bold">User Information</h1>
        {{ user_info }}
    </div>
    <div id="average-intake">
        <h1 class="text-lg font-bold">Average Intake</h1>
        {% for nutrient, value in AVG.items %}
            <h2 class="text-base font-bold">{{ nutrient|title }}: {{ value }} {% if nutrient == "energy" %}kcal{% else %}g{% endif %}</h2>
        {% endfor %}
    </div>
</div>

{% endblock %}