{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Calorify{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <!-- Alpine Plugins -->
    <!--INCLUDE ALL THE PLUGINS BEFORE THE CORE!-->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <!--Scripts for Core Alpine.js and HTMX-->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
    <!--this extension allows you to use it as the swapping mechanism in htmx which is necessary to retain Alpine state when you have entire Alpine components swapped by htmx.-->
    <script src="https://unpkg.com/htmx.org/dist/ext/alpine-morph.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
    <!--Sweetalert2 library for cool alert UI-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block script %}
    {% endblock %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="flex flex-col">
    <div class="navbar bg-base-100">
        <div class="navbar-start"> 
            <div class="dropdown">
                <!--Only shown when the screen is small-->
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                </label>
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a href="{% url 'home' %}" class="hover:bg-primary-content">Home</a></li>
                    <li><a href="{% url 'askai' %}" class="hover:bg-primary-content">Ask AI</a></li>
                    <li><a href="{% url 'diary' %}" class="hover:bg-primary-content">Diary</a></li>
                    <li><a href="{% url 'store' %}" class="hover:bg-primary-content">Store</a></li>
            </ul>
        </div>
        <a href="{% url 'home' %}" class="btn btn-ghost normal-case text-xl">Calorify</a>
    </div> 
    <div class="navbar-center hidden lg:flex">
        <!--Has the links to each page-->
            <ul class="menu menu-horizontal px-1 ">
                <li><a href="{% url 'home' %}" class="hover:bg-primary-content">Home</a></li>
                <li><a href="{% url 'askai' %}" class="hover:bg-primary-content">Ask AI</a></li>
                <li><a href="{% url 'diary' %}" class="hover:bg-primary-content">Diary</a></li>
                <li><a href="{% url 'store' %}" class="hover:bg-primary-content">Store</a></li>
            </ul>
        </div>
        <div class="navbar-end">
            <!--Shows gems and level-->
            <!--Also shows logout button-->
            {% if request.user.is_authenticated %}
            <ul class="menu menu-horizontal px-1">
                <li><a href="{% url 'logout' %}" class="hover:bg-error">Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    {% block body %}
    
    {% endblock %}
    
    {% comment %} <footer class="justify-self-end footer p-10 bg-neutral text-neutral-content">
        <div>
            <span class="footer-title">Services</span>
            <a class="link link-hover">Branding</a>
            <a class="link link-hover">Design</a>
            <a class="link link-hover">Marketing</a>
            <a class="link link-hover">Advertisement</a>
        </div>
        <div>
            <span class="footer-title">Company</span>
            <a class="link link-hover">About us</a>
            <a class="link link-hover">Contact</a>
            <a class="link link-hover">Jobs</a>
            <a class="link link-hover">Press kit</a>
        </div>
        <div>
            <span class="footer-title">Legal</span>
            <a class="link link-hover">Terms of use</a>
            <a class="link link-hover">Privacy policy</a>
            <a class="link link-hover">Cookie policy</a>
        </div>
    </footer> {% endcomment %}
    
</body>
</html>
