{% extends "layout.html" %}

{% block body %}
    <div class="d-flex flex-column align-items-center p-5">
        <h2 class="">Login</h2>

        {% if message %}
            <div class="">{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post" class="form-control">
            {% csrf_token %}
            <input autofocus autocomplete="off" class="input input-bordered" type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password" class="input input-bordered mb-6">
            <input type="submit" value="Login" class="btn btn-outline btn-error">
        </form>

        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
{% endblock %}