<!--This html handles the overlay for food and exercise searching-->
<!--Argument that you need to pass in: type-->

<div id="{{ type }}-overlay" class="overflow-auto" style="background-color: rgba(0,0,0,0.5)" x-show="{{ type }}ModalOpen" :class="{ 'absolute inset-0 z-10 flex items-start justify-center': {{ type }}ModalOpen }">
    <!-- overlay -->
    <span id="{{ type }}-modal" class="max-h-full rounded-lg px-6 flex flex-col justify-evenly gap-6 w-full border-solid border-2 bg-white shadow-2xl m-4 sm:m-8" x-show="{{ type }}ModalOpen" x-trap="{{ type }}ModalOpen" @click.away="{{ type }}ModalOpen = false" >
        <!--This is used for searching exercise in the database-->
        <button class="inline btn btn-sm btn-circle btn-ghost place-self-end right-2 top-2 hover:bg-red-500" @click="{{ type }}ModalOpen = false">✕</button>              
        <h1 class="text-xl font-bold">Add {{ type }} to Diary</h1>
        <div class="w-full">
            <input type="search" name="search" placeholder="Search {{ type }} here" class="input input-bordered w-full max-w-xl" 
                hx-get="{% url type %}"
                hx-trigger="keyup changed delay:500ms, search" 
                hx-target="#{{ type }}-search-results" 
                hx-indicator=".htmx-indicator"
                hx-swap="innerHTML"
                />
        </div>
        <div class="basis-1/4 overflow-y-auto border-solid border-2 rounded-lg">
            <table class="table table-pin-cols table-pin-rows">
                <thead>
                    <tr>
                        {% if type == "food" %}
                            <th>Description</th>
                            <th>Source</th>
                        {% elif type == "exercise" %}
                            <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="{{ type }}-search-results">
                    <i class="htmx-indicator fa-solid fa-atom fa-spin fa-xl"></i>
                    {% if type == "food" %}
                        {% block food_search_result %}
                            {% for food_data in food_data_list %}
                                <tr @click='foodSummaryOpen = true' hx-trigger='click' hx-get="{% url 'userfood' %}" hx-target='#food-summary-panel' hx-swap='innerHTML' class='hover' hx-vals='{{ food_data.vals }}'>
                                    <td>{{ food_data.label }}</td>
                                    <td>EDAMAM</td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    {% elif type == "exercise" %}
                        {% block exercise_search_result %}
                            {% for exercise_data in exercise_data_list %}
                                <tr @click='exerciseSummaryOpen = true' hx-trigger='click' hx-get="{% url 'userexercise' %}" hx-target='#exercise-summary-panel' hx-swap='innerHTML' class='hover' hx-vals='{{ exercise_data.vals }}'>
                                    <td>{{ exercise_data.name }}</td>
                                    <td>EXERCISE!</td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        {% if type == "food" %}
            {% block food_summary %}
                <div id="food-summary-panel" x-show="foodSummaryOpen" class="w-full place-self-center flex flex-row justify-evenly p-5 gap-6">
                    <div class="basis-1/2 border-solid border-2 rounded-lg">
                        <ul>
                            <li>Protein: {{ food.protein }} g</li>
                            <li>Carbohydrates: {{ food.carbs }} g</li>
                            <li>Fats: {{ food.fats }} g</li>
                            <li>Energy: {{ food.energy }} kcal</li>
                        </ul>
                    </div>
                    <div class="basis-1/2 order-solid border-2 rounded-lg p-6">
                        <!--Here, we both change the food entries and nutrients summary-->
                        <form id="userfood-form" hx-post="{% url 'userfood' %}" hx-trigger="click closest from:#submit-user-food queue:all" hx-target="#entries-container" hx-swap="beforeend" class="form-control flex flex-col gap-2">
                            {{ user_food_form }}
                            <!--Delay so that the food is added first before we obtain the daily nutrition data-->
                            <!--Should work 99% of the time-->
                            <button id="submit-user-food" type="submit" value="Add To Diary" hx-trigger="click delay:1ms" hx-get="{% url 'nutrients' %}" @click="foodModalOpen = false" hx-target="#summary" hx-swap="outerHTML" class="btn btn-success">Add To Diary</button>
                        </form>
                    </div>
                </div>
            {% endblock %}
        {% elif type == "exercise" %}
            {% block exercise_summary %}
                <p>Hello EXERCISE</p>
            {% endblock %}
        {% endif %}
    </span>
</div>